$react-loading-options:(
  z-index: (
    backdrop: 98,
    loading: 100
  )
)!default;

.react-loading{
  $z-index: map-get( $map: $react-loading-options, $key: z-index );
  $loading-z-index: map-get( $map: $z-index, $key: loading );
  $backdrop-z-index: map-get( $map: $z-index, $key: backdrop );

  &,
  & + .webkit-sassui-backdrop{
    position: fixed;
  }

  z-index: $loading-z-index;
  & + .webkit-sassui-backdrop {
    z-index: $backdrop-z-index;
  }

  &__body{
    figcaption{
      margin-top: 2px;
      font-size: 12px;
    }
  }
}
